body {
  background-color: #faf6e8;
}

p {
  margin-bottom: 2ex;
  text-align: justify;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

a:link, a:visited {
  color: #333333;
}

a:active {
  color: grey;
}

.main {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333333;
}

.header {
  margin-top: 0ex;
}

.name {
  font-weight: 600;
  color: #002147;
  word-spacing: .2em;
  line-height: 48px;
}

span.name-block {
  display: inline-block;
}

.personal-info {
  margin-left: 1em;
  text-indent: -1em;
}

.photo {
  margin-top: 3.5ex;
  float: right;
}

.section {
  margin-top: 3ex;
}

.section-title {
  margin-top: 0;
  margin-bottom: 1.25ex;
  color: #002147;
}

.expertise-list {
  margin-bottom: 2ex;
  line-height: 32px;
  text-align: left;
}

.expertise {
  font-size: 14px;
  background-color: #194778;
}

.entry {
  margin-bottom: 2ex;
}

.main-entry {
  font-weight: 600;
}

.sub-entry {
  margin-left: 1em;
  text-indent: -1em;
}

.publication {
  margin-bottom: 2.5ex;
}

.publication-title {
  font-weight: 600;
  margin-bottom: .25ex;
}

.publication-authors {
  margin-bottom: .25ex;
  margin-left: 1em;
  text-indent: -1em;
}

.publication-venue {
  margin-bottom: .25ex;
  margin-left: 1em;
  text-indent: -1em;
}

.publication-venue span.venue {
  margin-right: .5em;
}

.publication-links {
  margin-top: -.4ex;
  line-height: 30px;
}

.publication-links a {
  color: white;
}

.panel-publication-info {
  margin-top: -1.5ex;
  background: #fefcf8;
}

.panel-publication-info-body {
  margin-top: -1.5ex;
  margin-bottom: -3.25ex;
}

.publication-info {
  margin-top: .75ex;
  margin-bottom: .75ex;
}

.publication-info-title {
  font-weight: 600;
}

.publication-type {
  margin-right: .75em;
}

.publication-more-info:hover {
  cursor: pointer;
  text-decoration: underline;
}

.acknowledgements {
  text-align: center;
  font-size:12px;
  margin-top: 4ex;
  margin-bottom: 4ex;
}
