:root {
  --cs-background: #faf6e8;
  --cs-header: #002147;
  --cs-text: #3b1d23;
  --cs-link-active: #ab8876;
  --cs-link-decoration: #cac0b6;
  --cs-navbar: #f1e3bb;
  --cs-navbar-link: #592c35;
  --cs-navbar-link-hover: #be7847;
  --cs-navbar-link-active: #e1a358;
  --cs-expertise: #887b1b;
  --cs-type-published: #00ab28;
  --cs-type-warning: #a97318;
  --cs-type-unpublished: #ed2634;
  --cs-publication-link: #1e4e82;
  --cs-publication-link-hover: #0096ff;
  --cs-publication-link-active: #00c8ff;
  --cs-publication-info: #fefcf8;
  --cs-publication-more-info-link: #006c46;
  --cs-publication-more-info-link-hover: #00c800;
  --cs-publication-more-info-link-active: #00e900;
  --cs-publication-target: #f5ecd1;
  --cs-publication-target-border: #592c35;
  --cs-code: #782327;
  --cs-post-number-opacity: .2;
  --cs-image-border: white;
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --cs-background: #001023;
    --cs-header: #c2b000;
    --cs-text: #c6c0b0;
    --cs-link-active: #fbf8ee;
    --cs-link-decoration: #636058;
    --cs-navbar: #50171a;
    --cs-navbar-link: #e1a358;
    --cs-navbar-link-hover: #f1e3bb;
    --cs-navbar-link-active: #ffffff;
    --cs-expertise: #4b92db;
    --cs-type-published: #00ab28;
    --cs-type-warning: #a97318;
    --cs-type-unpublished: #ed2634;
    --cs-publication-link: #5ea0d5;
    --cs-publication-link-hover: #7fcaff;
    --cs-publication-link-active: #7fe3ff;
    --cs-publication-info: #00060e;
    --cs-publication-more-info-link: #00b31c;
    --cs-publication-more-info-link-hover: #00e300;
    --cs-publication-more-info-link-active: #00ff00;
    --cs-publication-target: #002147;
    --cs-publication-target-border: #f1e3bb;
    --cs-code: #cfb692;
    --cs-post-number-opacity: .4;
    --cs-image-border: black;
  }
}

*/

body {
  background-color: var(--cs-background);
}

h1 {
  font-weight: 600;
  color: var(--cs-header);
  line-height: 48px;
}

h2 {
  margin-top: 0;
  color: var(--cs-header);
}

h3 {
  margin-top: 2ex;
  margin-bottom: 2ex;
  color: var(--cs-header);
}

.year-group {
  margin-top: 0;
  margin-bottom: .5ex;
}

h4 {
  margin-top: 0;
  margin-bottom: 2ex;
  color: var(--cs-header);
}

p {
  margin-bottom: 2ex;
  text-align: justify;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
}

a {
  color: currentColor;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--cs-link-decoration);
     -moz-text-decoration-color: var(--cs-link-decoration);
      -ms-text-decoration-color: var(--cs-link-decoration);
       -o-text-decoration-color: var(--cs-link-decoration);
          text-decoration-color: var(--cs-link-decoration);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

a:hover {
  color: currentColor;
  -webkit-text-decoration-color: var(--cs-link-decoration-hover);
     -moz-text-decoration-color: var(--cs-link-decoration-hover);
      -ms-text-decoration-color: var(--cs-link-decoration-hover);
       -o-text-decoration-color: var(--cs-link-decoration-hover);
          text-decoration-color: var(--cs-link-decoration-hover);
}

a:active {
  color: var(--cs-link-active);
}

pre {
  color: var(--cs-text);
  background-color: transparent;
  border: none;
  margin-left: 1.5em;
  margin-top: 2ex;
  margin-bottom: 2ex;
  padding: 0;
  font-size: 100%;
}

code {
  font-family: 'Fira Code', monospace;
  color: var(--cs-text);
  padding: 0;
  background: transparent;
  font-size: 100%;
}

p > code {
  word-spacing: -0.2em;
  margin-left: .1em;
  margin-right: .1em;
}

pre > code {
  white-space: pre;
}

blockquote {
  border-width: 0;
  font-size: 100%;
  font-style: italic;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: justify;
}

ul {
  margin-bottom: 2ex;
}

ol {
  margin-bottom: 2ex;
}

.theorem {
  font-style: normal;
  font-weight: 600;
}

.image-paragraph {
  overflow: auto;
}

.main {
  font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  color: var(--cs-text);
}

.name {
  word-spacing: .2em;
}

.chinese-name {
  font-weight: 500;
}

.after-section-title {
  padding-bottom: 1.25ex;
}

.decryption {
  max-width: 480px;
}

.blog {
  max-width: 780px;
}

.header {
  margin-top: .4ex;
}

.blog-header {
  margin-top: .4ex;
  margin-bottom: 2ex;
}

.text-block {
  display: inline-block;
}

.personal-info {
  margin-left: 1em;
  text-indent: -1em;
}

.web-presence {
  height: 24px;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.web-presence-GitHub {
  filter: opacity(.4);
}

.web-presence-GitHub:hover {
  filter: opacity(1);
}

.web-presence-Mastodon {
  filter: grayscale(1) opacity(.5);
}

.web-presence-Mastodon:hover {
  filter: grayscale(0) opacity(1);
}

.web-presence-ORCID {
  filter: grayscale(1) sepia(.1);
}

.web-presence-ORCID:hover {
  filter: grayscale(0) sepia(0);
}

.web-presence-dblp-GS {
  filter: grayscale(1) opacity(.6);
}

.web-presence-dblp-GS:hover {
  filter: grayscale(0) opacity(1);
}

.web-presence-IIS {
  filter: grayscale(1) opacity(.4);
}

.web-presence-IIS:hover {
  filter: grayscale(0) opacity(1);
}

.photo {
  margin-top: 4ex;
  float: right;
}

#photo {
  width: 175px;
  height: 175px;
  border-radius: 4px;
}

#navbar {
  margin-top: 4ex;
  background: var(--cs-navbar);
  border: none;
  box-shadow: none;
}

#navbar a {
  color: var(--cs-navbar-link);
  font-weight: 600;
  text-decoration: none;
  text-shadow: none;
}

#navbar a:hover {
  color: var(--cs-navbar-link-hover);
}

#navbar a:active {
  color: var(--cs-navbar-link-active);
}

#navbar li {
  margin-left: 1em;
}

@media (min-width: 768px) {

  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
  }

  .navbar-nav > li {
    display: table-cell;
    padding-left: .25em;
    padding-right: .25em;
    width: 1px;
    float: none;
    text-align: center;
    white-space: nowrap;
  }

}

.section {
  margin-top: 4ex;
}

.paragraph-title {
  font-weight: 600;
  color: var(--cs-header);
  margin-right: 1em;
}

.expertise-list {
  margin-bottom: 2ex;
  line-height: 3.5ex;
  text-align: center;
}

.expertise {
  font-weight: 600;
  color: var(--cs-expertise);
  white-space: nowrap;
  margin-left: .4em;
  margin-right: .4em;
}

.entry {
  margin-bottom: 2ex;
}

.main-entry {
  font-weight: 600;
}

.sub-entry {
  margin-left: 1em;
  text-indent: -1em;
}

.displayed-figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.displayed-photo {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid var(--cs-image-border);
}

.FLOLAC-logo {
  position: relative;
}

#FLOLAC-logo {
  height: 64px;
  width: auto;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: -1;
  opacity: .35;
}

.publication {
  margin-bottom: 2.5ex;
}

.publication:target, #Opportunities:target {
  margin-top: -.75ex;
  padding-top: .5ex;
  margin-bottom: 1.25ex;
  padding-bottom: 1ex;
  margin-left: -1.25ex;
  padding-left: 1ex;
  margin-right: -1.25ex;
  padding-right: 1ex;
  background: var(--cs-publication-target);
  border-style: solid;
  border-width: .25ex;
  border-color: var(--cs-publication-target-border);
  border-radius: 4px;
}

.publication-title {
  font-weight: 600;
  margin-bottom: .25ex;
}

.publication-authors {
  margin-bottom: .25ex;
  margin-left: 1em;
  text-indent: -1em;
}

.publication-venue {
  margin-bottom: .25ex;
  margin-left: 1em;
  text-indent: -1em;
}

.publication-type {
  font-weight: 600;
  font-size: 14px;
  margin-right: .5em;
}

.type-published {
  color: var(--cs-type-published);
}

.type-warning {
  color: var(--cs-type-warning);
}

.type-unpublished {
  color: var(--cs-type-unpublished);
}

.publication-link-outer {
  display: inline-block;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 2px;
}

.publication-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--cs-publication-link);
  white-space: nowrap;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--cs-publication-link);
  border-radius: 4px;
  text-decoration: none;
}

.publication-link:hover {
  color: var(--cs-publication-link-hover);
  border: 1px solid var(--cs-publication-link-hover);
  text-decoration: none;
}

.publication-link:active {
  color: var(--cs-publication-link-active);
  border: 1px solid var(--cs-publication-link-active);
}

.link-note {
  font-weight: 400;
  font-size: 12px;
  margin-left: .4em;
}

.panel-publication-info {
  margin-top: 1ex;
  margin-bottom: 0;
  background: var(--cs-publication-info);
  box-shadow: none;
}

.publication-info {
  padding-top: .75ex;
  padding-bottom: .75ex;
}

.publication-info p {
  margin: 0;
  padding-top: .75ex;
  padding-bottom: .75ex;
}

.publication-info-title {
  margin-top: .75ex;
  font-weight: 600;
}

.publication-more-info {
  color: var(--cs-publication-more-info-link);
  border: 1px solid var(--cs-publication-more-info-link);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.publication-more-info:hover {
  cursor: pointer;
  color: var(--cs-publication-more-info-link-hover);
  border: 1px solid var(--cs-publication-more-info-link-hover);
}

.publication-more-info:active {
  color: var(--cs-publication-more-info-link-active);
  border: 1px solid var(--cs-publication-more-info-link-active);
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  color: var(--cs-header);
  margin-left: 7px;
  margin-top: -1ex;
}

.blog-entry {
  font-weight: 600;
  margin-bottom: 1ex;
}

.blog-entry-stamp {
  color: var(--cs-header);
  margin-left: 1em;
}

.blog-entry-date {
  font-style: italic;
}

.post-number {
  font-size: 26px;
  color: var(--cs-header);
  text-align: right;
  opacity: var(--cs-post-number-opacity);
}

.post-title {
  margin-top: 0;
  color: var(--cs-header);
}

.post-time {
  margin-bottom: 3ex;
  font-style: italic;
  color: var(--cs-header);
}

hr {
  width: 4em;
  height: 2px;
  border: none;
  background-color: var(--cs-header);
  margin-top: 2ex;
  margin-bottom: 2ex;
}

.remark {
  color: var(--cs-header);
  text-align: center;
  margin-bottom: 1ex;
}

.stamp {
  text-align: center;
  margin-top: 2ex;
  margin-bottom: 3ex;
}

.footer-stamp {
  text-align: center;
  margin-top: 2ex;
  margin-bottom: 4ex;
}

#stamp {
  width: 32px;
  height: 32px;
  border: 1px solid white;
}

.acknowledgements {
  text-align: center;
  font-size: 12px;
  margin-bottom: 4ex;
}
